.account-view-inner .passwordBlock {
    margin-top: -5px;
}

.account-view-inner .checkBoxPassword {
    position: absolute;
}

.account-view-inner .contentCheckBoxPassword {
    position: relative;
    top: -28px;
    left: 27px;
    width: 95%;
    font-size: 13px;
}

.account-view-inner .divCheckBoxPassword {
    top: -5px;
    height: 15px;
}

.account-view-inner .separator-1 {
    margin-top: -1px;
}

.account-view-inner .buttonPassword {
    float: right;
    margin-top: -8px;
}
