@media (min-width: 1025px) and (max-width: 1200px) {
    .application-dashboard .dashboard-content .apps-list-wrapper .apps-list {
        max-width: 900px;
        width: 900px;
        margin-right: -60px;
        margin-left: 30px;
    }

    .application-dashboard .dashboard-content .apps-list-wrapper .apps-list>.app-item {
        margin-bottom: 60px;
        padding-bottom: 24px;
        flex-basis: 16.666666666666668%;
    }

    .application-dashboard .dashboard-content .apps-list-wrapper .apps-list>.app-item .app-icon {
        width: 80px;
        height: 80px;
    }

    .application-dashboard .dashboard-content .apps-list-wrapper .apps-list>.app-item .name-wrapper {
        width: 80px;
        height: 13px;
        line-height: 13px;
        font-size: 13px;
    }
    
    .dashboard-app .main-view {
        padding-left: unset !important;
    }
}